<h3 class="govuk-heading-s govuk-!-margin-bottom-1">
  <%= quick_search_group.category %>
</h3>

<ul class="govuk-list app--query-examples">
  <% quick_search_group.terms.each do |term| %>
    <li>
      <%= link_to term, root_path(anchor: "gsc.q=#{term}"), class: 'ga-pageLink', data: { ga_category: 'common terms', ga_label: term } %>
    </li>
  <% end %>
</ul>
