// App-specific custom styles and overrides
//
.app--no-italic {
  font-style: normal;
}

.app--js-enabled-show {
  display: none;
}

.js-enabled {
  .app--js-enabled-show {
    display: unset;
  }
}

ul.app--query-examples {
  li {
    display: inline;
    margin-right: govuk-spacing(2);
  }
}

// This mitigates the input text jumping around on page loads while
// the javascript takes over and style it properly.
#google-custom-search {
  min-height: 85px;
}
