<% title 'Accessibility' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Accessibility</h1>

    <p class="govuk-body">This accessibility statement applies to the <%= service_name %> website.</p>

    <p class="govuk-body">
      This website is run by The Ministry of Justice. We want as many people as possible to be able to use this website. For example, that means you should be able to:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>change colours, contrast levels and fonts</li>
      <li>zoom in up to 300% without the text spilling off the screen</li>
      <li>navigate most of the website using just a keyboard</li>
      <li>navigate most of the website using speech recognition software</li>
      <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
    </ul>

    <p class="govuk-body">We’ve also made the website text as simple as possible to understand.</p>

    <p class="govuk-body">
      <a class="govuk-link" href="https://mcmw.abilitynet.org.uk" rel="external" target="_blank">AbilityNet</a> has advice on making your device easier to use if you have a disability.
    </p>

    <h2 class="govuk-heading-l">Feedback and contact information</h2>

    <p class="govuk-body">
      If you need information on this website in a different format like accessible PDF, large print, easy read, audio recording or braille:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>email: <a class="govuk-link" href="mailto:accessibility.support.elsa@digital.justice.gov.uk">accessibility.support.elsa@digital.justice.gov.uk</a></li>
    </ul>

    <p class="govuk-body">We’ll consider your request and get back to you in 14 days.</p>

    <h2 class="govuk-heading-l">Reporting accessibility problems with this website</h2>
    <p class="govuk-body">
      We’re always looking to improve the accessibility of this website. If you find any problems not listed on this
      page or think we’re not meeting accessibility requirements, contact us by email at:
      <a class="govuk-link" href="mailto:accessibility.support.elsa@digital.justice.gov.uk">accessibility.support.elsa@digital.justice.gov.uk</a>
    </p>

    <h2 class="govuk-heading-l">Enforcement procedure</h2>
    <p class="govuk-body">
      The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites
      and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the 'accessibility regulations'). If you’re not
      happy with how we respond to your complaint,
      <a class="govuk-link" href="https://www.equalityadvisoryservice.com/" rel="external" target="_blank">contact the
        Equality Advisory and Support Service (EASS)</a>.
    </p>

    <h2 class="govuk-heading-l">Technical information about this website’s accessibility</h2>
    <p class="govuk-body">
      The Ministry of Justice is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.
    </p>

    <h3 class="govuk-heading-m">Compliance status</h3>
    <p class="govuk-body">
      This website is partially compliant with the
      <a class="govuk-link" href="https://www.w3.org/TR/WCAG21/" rel="external" target="_blank">Web Content
        Accessibility Guidelines version 2.1 AA standard</a>, due to the non-compliance issues listed below.
    </p>

    <h3 class="govuk-heading-m">Issues with interactive tools and transactions</h3>
    <p class="govuk-body">
      We can’t guarantee that the website is fully compliant, because we haven’t yet done a full WCAG audit. However we
      are planning on doing this when going into public beta, in the meantime we have done basic checks and addressed
      issues identified.
    </p>

    <h3 class="govuk-heading-m">What we’re doing to improve accessibility</h3>
    <p class="govuk-body">
      We are committed to keep this page up to date with any accessibility improvements as they are discovered.
    </p>

    <p class="govuk-body">
      We have done some basic internal tests on this website using
      <a class="govuk-link" href="https://wave.webaim.org" rel="external" target="_blank">Wave</a> and screen readers.
      We identified and fixed issues using these tools.
    </p>

    <p class="govuk-body">
      This is an alpha product which means you’re looking at the first version of it. We will do a full WCAG 2.1 audit
      on this product as it progresses in development.
    </p>

    <p class="govuk-body">
      Something that’s in ‘alpha’ isn’t open to everyone or may not work for everyone. We do this so we can test and
      make improvements before releasing it to more people.
    </p>

    <h2 class="govuk-heading-l">Preparation of this accessibility statement</h2>
    <p class="govuk-body">This statement was prepared on 28/10/2021.</p>
  </div>
</div>
