<% title 'Cookies' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Cookies</h1>

    <p class="govuk-body">This tool puts small files (known as ‘cookies’) onto your device to collect information about how you browse the site.</p>
    <p class="govuk-body">Cookies are used to:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>remember your progress</li>
      <li>measure how you use the website so it can be updated and improved based on your needs</li>
    </ul>

    <p class="govuk-body">
      This tool's cookies aren't used to identify you personally. Find out more about <a class="govuk-link" rel="external" target="_blank" href="https://www.aboutcookies.org">how to manage cookies</a>.
    </p>

    <h2 class="govuk-heading-l">How cookies are used on this tool</h2>

    <p class="govuk-body">We will store a cookie to remember your progress on this device and to expire your session when you close your browser.</p>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header">Name</th>
          <th class="govuk-table__header">Purpose</th>
          <th class="govuk-table__header">Expires</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th class="govuk-table__header">_elsa_relevant_search_session</th>
          <td class="govuk-table__cell">Saves your current progress on this device</td>
          <td class="govuk-table__cell">When you close your browser</td>
        </tr>
      </tbody>
    </table>

    <h3 class="govuk-heading-m">Measuring usage (Google Analytics)</h3>
    <p class="govuk-body">
      We use Google Analytics software to collect information about how you use this tool. We do this to help make sure this tool is meeting the needs of its users and to help us make improvements. Google Analytics stores information about:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>the pages you visit</li>
      <li>how long you spend on each page</li>
      <li>how you got to the tool</li>
      <li>what you click on while you’re visiting the site</li>
    </ul>

    <p class="govuk-body">We do not collect or store your personal information (for example your name or address) so this information can't be used to identify who you are.</p>
    <p class="govuk-body">We do not allow Google to use or share our analytics data.</p>
    <p class="govuk-body">Google Analytics sets the following cookies:</p>

    <h4 class="govuk-heading-s">Google Analytics</h4>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header">Name</th>
          <th class="govuk-table__header">Purpose</th>
          <th class="govuk-table__header">Expires</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th class="govuk-table__header">_ga</th>
          <td class="govuk-table__cell">This helps us count how many people visit this tool</td>
          <td class="govuk-table__cell">2 years</td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header">_gid</th>
          <td class="govuk-table__cell">This helps us count how many people visit this tool</td>
          <td class="govuk-table__cell">24 hours</td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header">_gat</th>
          <td class="govuk-table__cell">Used to manage the rate at which page view requests are made</td>
          <td class="govuk-table__cell">10 minutes</td>
        </tr>
      </tbody>
    </table>

    <h4 class="govuk-heading-s">Universal Analytics</h4>

    <table class="govuk-table">
      <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header">Name</th>
        <th class="govuk-table__header">Purpose</th>
        <th class="govuk-table__header">Expires</th>
      </tr>
      </thead>
      <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th class="govuk-table__header">_utma</th>
        <td class="govuk-table__cell">Like _ga, this lets us know how many of our visitors are new to this tool or to a certain page</td>
        <td class="govuk-table__cell">2 years</td>
      </tr>
      <tr class="govuk-table__row">
        <th class="govuk-table__header">_utmb</th>
        <td class="govuk-table__cell">This works with _utmc to calculate the average length of time you spend on this tool</td>
        <td class="govuk-table__cell">30 minutes</td>
      </tr>
      <tr class="govuk-table__row">
        <th class="govuk-table__header">_utmc</th>
        <td class="govuk-table__cell">This works with _utmb to calculate when you close your browser</td>
        <td class="govuk-table__cell">when you close your browser</td>
      </tr>
      <tr class="govuk-table__row">
        <th class="govuk-table__header">_utmz</th>
        <td class="govuk-table__cell">This tells us how you reached this tool (for example from another website or a search engine)</td>
        <td class="govuk-table__cell">6 months</td>
      </tr>
      </tbody>
    </table>

    <p class="govuk-body">
      You can <a href="https://tools.google.com/dlpage/gaoptout" class="govuk-link" rel="external" target="_blank">opt out of Google Analytics cookies</a>.
    </p>
  </div>
</div>
